.content {
  bottom: 0;
  padding: 20px;
  padding-top: 0;
}

.content__h2 {
  color: rgb(223, 91, 39);
  margin: 0;
}

.footer {
  background: #ffffff;
  border-top: 1px solid grey;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
}

.footer__paragraph {
  font-family: sans-serif;
  font-size: 12px;
  color: grey;
  padding: 10px;
  margin: 0;
  max-width: 1200px;
}

.header {
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  top: 0;
}

.header-title {
  background-image: url(/img/coverphoto.jpg);
  height: 200px;
  margin-bottom: 20px;
  background-size: 150%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.introduction {
  background-image: url(/img/coverphoto.jpg);
  height: 200px;
  margin-bottom: 20px;
  background-size: 150%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.introduction__paragraph {
  color: #000000;
  font-family: sans-serif;
  text-decoration: none;
  font-style: italic;
  padding: 20px;
  margin: 0;
  display: inline-block;
  font-size: 16px;
}

.header-title__h1 {
  padding: 22px;
  margin: 0;
  color: #000000;
}

.navigation__logo {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  max-width: 1200px;
  margin-right: auto;
}

.navigation {
  background: #ffffff;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation__menu {
  font-family: sans-serif;
  color: #000000;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
}

.notes__img-text {
  float: none;
  display: block;
  width: 30%;
  height: 30%;
}

.notes-list__link {
  color: #33658a;
  text-decoration: none;
}

.page-background {
  background-color: #ffffff;
  max-width: 1200px;
  margin: auto;
  font-family: sans-serif;
  padding-top: 59px;
}
